# NestJS 앱이 사용하는 포트
PORT_NESTJS=3000

# Prometheus가 사용할 포트
PORT_PROMETHEUS=9090

# Grafana가 사용할 호스트 포트
PORT_GRAFANA=3001

# NestJS 실행 환경 설정
NODE_ENV=production

# Grafana 관리자 비밀번호
GRAFANA_ADMIN_PASSWORD=admin

# Database configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=admin
DB_PASSWORD=admin
DB_NAME=joinus

# Kafka configuration
KAFKA_BROKERS=localhost:9092

# Redis configuration
REDIS_HOST=localhost
REDIS_PORT=6379

# JWT Secret
JWT_SECRET=your_jwt_secret_here